<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
        
    <title>Login</title>
    <style>
        body{
            background:#f5f5f5;}
        
        /* ===== Career ===== */
        .career-form {
          background-color: #4e63d7;
          border-radius: 5px;
          padding: 0 16px;
        }
        
        .career-form .form-control {
          background-color: rgba(255, 255, 255, 0.2);
          border: 0;
          padding: 12px 15px;
          color: #fff;
        }
        
        .career-form .form-control::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #fff;
        }
        
        .career-form .form-control::-moz-placeholder {
          /* Firefox 19+ */
          color: #fff;
        }
        
        .career-form .form-control:-ms-input-placeholder {
          /* IE 10+ */
          color: #fff;
        }
        
        .career-form .form-control:-moz-placeholder {
          /* Firefox 18- */
          color: #fff;
        }
        
        .career-form .custom-select {
          background-color: rgba(255, 255, 255, 0.2);
          border: 0;
          padding: 12px 15px;
          color: #fff;
          width: 100%;
          border-radius: 5px;
          text-align: left;
          height: auto;
          background-image: none;
        }
        
        .career-form .custom-select:focus {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
        
        .career-form .select-container {
          position: relative;
        }
        
        .career-form .select-container:before {
          position: absolute;
          right: 15px;
          top: calc(50% - 14px);
          font-size: 18px;
          color: #ffffff;
          content: '\F2F9';
          font-family: "Material-Design-Iconic-Font";
        }
        
        .filter-result .job-box {
        background:#fff;
          -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
                  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          border-radius: 10px;
          padding: 10px 35px;
        }
        
        ul {
          list-style: none; 
        }
        
        .list-disk li {
          list-style: none;
          margin-bottom: 12px;
        }
        
        .list-disk li:last-child {
          margin-bottom: 0;
        }
        
        .job-box .img-holder {
          height: 65px;
          width: 65px;
          background-color: #4e63d7;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
          background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
          font-family: "Open Sans", sans-serif;
          color: #fff;
          font-size: 22px;
          font-weight: 700;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-radius: 65px;
        }
        
        .career-title {
          background-color: #4e63d7;
          color: #fff;
          padding: 15px;
          text-align: center;
          border-radius: 10px 10px 0 0;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
          background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
        }
        
        .job-overview {
          -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
                  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          border-radius: 10px;
        }
        
        @media (min-width: 992px) {
          .job-overview {
            position: -webkit-sticky;
            position: sticky;
            top: 70px;
          }
        }
        
        .job-overview .job-detail ul {
          margin-bottom: 28px;
        }
        
        .job-overview .job-detail ul li {
          opacity: 0.75;
          font-weight: 600;
          margin-bottom: 15px;
        }
        
        .job-overview .job-detail ul li i {
          font-size: 20px;
          position: relative;
          top: 1px;
        }
        
        .job-overview .overview-bottom,
        .job-overview .overview-top {
          padding: 35px;
        }
        
        .job-content ul li {
          font-weight: 600;
          opacity: 0.75;
          border-bottom: 1px solid #ccc;
          padding: 10px 5px;
        }
        
        @media (min-width: 768px) {
          .job-content ul li {
            border-bottom: 0;
            padding: 0;
          }
        }
        
        .job-content ul li i {
          font-size: 20px;
          position: relative;
          top: 1px;
        }
        
        .mb-30 {
            margin-bottom: 30px;
        }
        
        h5,h6 {font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700;}
        






















  
        body {
        width: 100%;
      }
      
      div.elem-group {
        margin: 20px 0;
      }
      
      div.elem-group.inlined {
        width: 49%;
        display: inline-block;
        float: left;
        margin-left: 1%;
      }
      
      label {
        display: block;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-bottom: 10px;
        font-size: 1.25em;
      }
      
      input, select, textarea {
        border-radius: 2px;
        border: 2px solid #777;
        box-sizing: border-box;
        font-size: 1.25em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        padding: 10px;
      }
      
      div.elem-group.inlined input {
        width: 95%;
        display: inline-block;
      }
      
      textarea {
        height: 250px;
      }
      
      hr {
        border: 1px dotted #ccc;
      }
      
      button {
        height: 50px;
        background: rgb(229, 219, 201);
        border: none;
        color: white;
        font-size: 1.25em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 4px;
        cursor: pointer;
      }
      
      button:hover {
        /* border: 2px solid black; */
        background-color: #ccc;
      }
      </style>
</head>

<body>
    <section class="vh-1000" style="background-image: url('../img/metro4.jpg'); 
            background-size: cover; background-position: center; margin-top: -10px;">
    <%-include('../partials/navadmin') %>

    <div class="container my-4">
        <div class="jumbotron">
            <a href="/admin/admindashboard"><button type="button" class="btn btn-secondary my-2">Add a route and fare</button></a>
            <a href="/admin/addtrain"><button type="button" class="btn btn-secondary my-2">Add a train</button></a>
            <a href="/admin/stuckpassengers"><button type="button" class="btn btn-secondary my-2">Stuck Passengers</button></a>
            <a href="../admin/addbalance"><button type="button" class="btn btn-secondary my-2">Add Balance</button></a>

            <h1 class="text-center">Add route fare</h1>
            <!-- <form action="/admin/addroute" method="post">
    
                <div class="form-row">
                    <div class="col">
                        <label for="departure">From:</label>
                        <input type="text" maxlength="20" class="form-control" id="departure" name="departure" required>
                    </div>
                    <div class="col">
                        <label for="destination">To:</label>
                        <input type="text" maxlength="20" class="form-control" id="destination" name="destination" required>
                    </div>
                </div>
                  <br>
                  <div class="form-row">
                      <div class="col">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount" required>
                      </div>
                  </div>
                  <br>
        
                <button type="submit" class="btn btn-success">Add Route Fare</button><br><br>
            </form> -->








            <form action="/admin/addroute" method="post">
                <!-- <div class="elem-group">
                  <label for="name">Train Name</label>
                  <input type="text" id="trainname" name="trainname" placeholder="eg. MOHANAGAR" pattern=[A-Z\sa-z]{3,20} required>
                </div> -->
                <div class="elem-group">
                  <label for="room-selection">From</label>
                  <input type="text" id="departure" name="departure" placeholder="eg. DHAKA" pattern=[A-Z\sa-z]{3,20} required>
                </div>
                <div class="elem-group">
                  <label for="room-selection">To</label>
                  <input type="text" id="destination" name="destination" placeholder="eg. SYLHET" pattern=[A-Z\sa-z]{3,20} required>
                </div>
                
                <div class="elem-group">
                  <label for="child">Fare</label>
                  <input type="number" id="seats" name="seats" placeholder="2" min="0" required>
                </div>
                
                
                <button type="submit">Add Fare</button>
              </form>
        </div>

        










        <div class="container">
            <div class="row">
            <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
            <div class="filter-result">
                <% results.rows.forEach(function(data) { %>
                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <!-- <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                FD
                            </div> -->
                            <div class="job-content">
                                <ul>
                                  <h5 class="text-center text-md-left"><%= data.fareid %></h5>
                                </ul>
                                
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> <%= data.departure %>
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> <%= data.destination %>
                                    </li>
                      
                                </ul>
                                <ul>
                                  <h5 class="text-center text-md-left"><%= data.amount %> taka</h5>
                                </ul>
                                
                            </div>
                        </div>
                        <ul>
                            <li>
                              
                            <div class="job-right my-4 flex-shrink-0">
                                <div >
                                  <form action="/admin/deletefare" method="post">
                                    <input type="hidden" maxlength="50" class="form-control" id="deletefare" name="deletefare" aria-describedby="emailHelp" value=<%=data.fareid %> required>
                                    <button type="submit" class="btn d-block w-100 d-sm-inline-block btn-light">Delete Fare</button><br><br>
                                </form>
                                </div>
                            </div>
                            </li>
                            
                    </div>
                <% }); %>
            </div>
            </div>
            </div>
            </div>
            </div>









        
        
        <!-- <div class="card shadow mb-4 my-2">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-info text-center">Fare List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Fare ID</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Fare</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.rows.forEach(function(data) { %>
                                <tr>
                                    <td>
                                        <%= data.fareid %>
                                    </td>
                                    <td>
                                        <%= data.departure %>
                                    </td>
                                    <td>
                                        <%= data.destination %>
                                    </td>
                                    <td>
                                        <%= data.amount %>
                                    </td>
                                    <td>
                                        <form action="/admin/deletefare" method="post">
                                            <input type="hidden" maxlength="50" class="form-control" 
                                            id="deletefare" name="deletefare" aria-describedby="emailHelp" value=<%=data.fareid %> required>
                                            <button type="submit" class="btn btn-danger">Delete</button><br><br>
                                        </form>
                                        
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->






    </div>

    
    



    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>
